@import url('https://fonts.googleapis.com/css2?family=Mountains+of+Christmas&display=swap');

.App
{
    height: 100vh;
    display: flex;
    flex-direction: column;

    *
    {
        font-family: 'Mountains of Christmas', cursive;
    }
}
