.container
{
    /* position: relative; */
    padding-top: 80px;
}

.box
{
    background: tomato;
}

.fixedBox
{
    position: fixed;
    top: 0;
    width: 100%;
    height: 80px;
    z-index: 1;
}

.stickyBox
{
    position: sticky;
    background: yellow;
    top: 80px;
    height: 50px;
    width: 100%;
    z-index: 1;
}

.backToTopBox
{
    position: fixed;
    display: block; /* can be deleted */
    right: 20px;
    bottom: 20px;
    height: 50px;
    width: 60px;
    background: rgba(0,0,0,0.75);
    border-radius: 15px;
}

.backToTopBox a
{
    padding: 8px;
    color: white;
    text-decoration: none;
    text-align: center;
    line-height: 45px;  /* Center */
}

.backToTopBox:hover
{
    background: rgba(0,0,0,0.5);
}