#bigBox
{
    width: 500px;
    height: 200px;
    border: 2px solid red;
    /* position: absolute; */
}

.container
{
    border: 5px solid black;
    display: inline-block;

    /* wenn das elternelement position: relative hat, bezieht sich das "absolute positioning des kindelements auf die 0 position des elternelemnts, wenn das elternelment keine positionierungsregel hat, bezieht sich das absolute positionieren auf den body der seite. */
    position: absolute;
}

.box
{
    display: inline-block;
    width: 100px;
    height:100px;
}

.box1
{
    background: tomato;
}

.box2
{
    background: lime;
    position: relative;
    bottom:10px;
    right: 10px;
}

.box3
{
    background: plum;
    position: absolute; 
    /* nimmt kein platz mehr, can check with "display: none" */
    bottom: 50px;
    right: 50px;
} 

.box4
{
    background: orange;

}

.positionBox
{
    background: black;
    position: absolute;
    opacity: 0.5;
    top: 20px;
    left: 20px;
    right:20px;
    bottom: 20px;
    color: white;
}

#bigBox2
{
    width: 500px;
    height: 400px;
    background-color: red;
    position: absolute;
    /* inside the bigBox2 or not */
}