.Header
{
    position: fixed;
    width: 100vw;
    background: #ccc;
    padding: 1em;
    height: 100px;

    h1
    {
        margin-bottom: 1em;
        text-align: center;
    }

    p
    {
        text-align: center;
    }
}
