body
{
    background: lightgray;
}

.container
{
    border:10px solid transparent;
    background: darkslategray;
    color: white;
    width: 550px;
    margin: auto;
}

article
{
    border-left: 10px solid transparent;
    width: 90%;
}

.fahrzeuge
{
    background: lightgray;
    color: black;
    width: 100%;
    height:500px;

/* overflow:; gibt uns die moeglichkeit zu steuern, was mit dem inhalt eines elements passiert, das groesser ist, als das elternelement. 

mit overflow:hidden; wird der inhalt abgeschnitten und versteckt.

mit overflow: scroll; koennen wir scrollbars erstellen, um in beide richtungen scrollen zu koennen.

mit overflow-x:; und overflow-y:; koennen wir steuern, wie sich der ueberstand horizontal oder vertikal verhaelt.

overflow-x:hidden;
overflow-y:scroll;
*/

/* overflow-y:hidden;
overflow-x: scroll; */

/* mit overflow: auto; lassen wir den browser selbst entscheiden welchen overflow er nimmt, da er sehen kann, welches element in welcher relation zueinander groesser ist. */
overflow: auto;
}