/* roboto-100 - latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 100;
  src: url('../assets/roboto-v30-latin-100.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('../assets/roboto-v30-latin-100.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../assets/roboto-v30-latin-100.woff2') format('woff2'), /* Super Modern Browsers */
       url('../assets/roboto-v30-latin-100.woff') format('woff'), /* Modern Browsers */
       url('../assets/roboto-v30-latin-100.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../assets/roboto-v30-latin-100.svg#Roboto') format('svg'); /* Legacy iOS */
}

/* roboto-regular - latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: url('../assets/roboto-v30-latin-regular.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('../assets/roboto-v30-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../assets/roboto-v30-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('../assets/roboto-v30-latin-regular.woff') format('woff'), /* Modern Browsers */
       url('../assets/roboto-v30-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../assets/roboto-v30-latin-regular.svg#Roboto') format('svg'); /* Legacy iOS */
}

/* roboto-900 - latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 900;
  src: url('../assets/roboto-v30-latin-900.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('../assets/roboto-v30-latin-900.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../assets/roboto-v30-latin-900.woff2') format('woff2'), /* Super Modern Browsers */
       url('../assets/roboto-v30-latin-900.woff') format('woff'), /* Modern Browsers */
       url('../assets/roboto-v30-latin-900.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../assets/roboto-v30-latin-900.svg#Roboto') format('svg'); /* Legacy iOS */
}

/* montserrat-regular - latin */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  src: url('../assets/montserrat-v25-latin-regular.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('../assets/montserrat-v25-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../assets/montserrat-v25-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('../assets/montserrat-v25-latin-regular.woff') format('woff'), /* Modern Browsers */
       url('../assets/montserrat-v25-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../assets/montserrat-v25-latin-regular.svg#Montserrat') format('svg'); /* Legacy iOS */
}
