@import url(./fonts.css);
/*  */
:root {
    font-size: 62.5%;
    font-family: 'Roboto', 'Montserrat', sans-serif;

}
body {
    font-size: 1.6rem;
}


ul :nth-child(even){
    color: red;
}

li {
   font-weight: 100;
}

.underline {
    text-decoration: underline;
}

.italic {
    font-style: italic;
}

.uppercase {
    text-transform: uppercase;
}




