*
{
    box-sizing: border-box;
}

.box
{
    background-color: tomato;
    border: 2px solid black;
    padding: 10px;
}

.container
{
    background-color: cyan;
    padding: 10px;

    display: grid;
    grid-gap:10px;  /* oder: grap:; */

    /*             spalten: 1     2     3    4 */
    grid-template-columns: 50px auto 200px 150px;
    grid-template-rows: 100px 200px 75px 200px;
}

.box-1
{
    background-color: lime;

    /* grid-position start und ende auf der column */
    /* grid-column-start: 1;  starte in der ersten spalte */
    /* grid-column-end: 5; bis zum start der 5.spalte(also inklusive der 4) */

    grid-column: 2 / 5;
}

.box-2
{
    background-color: yellow;

    /* grid position start und ende auf der row */
    grid-row-start: 1;
    grid-row-end: 4;
    /* shortcode: grid-row:;  */

}

.box-3
{
    background-color: plum;
    grid-column-start: 3;
    grid-column-end: 5;
    grid-row-start: 3;
    grid-row-end: 5;
}

.box-4
{
    background-color: blue;
    grid-column: 3 / 4;
    grid-row: 2 / 3;
}

.box-5
{
    background-color: #3cafe2;
    /* das span keyword sagt über wieviele zeilen/spalten sich ein element erstrecken soll, damit änder sich der wert hiner dem schrägstrich, von der zielposition zu einer mengeangabe. */

    grid-row: 4 / span 3;
    grid-column: 2 / span 2;
}