*{
    box-sizing: border-box;
}

.container
{
    background-color: aquamarine;
    padding: 10px;
    height: 100vh;

    display: grid;
    /* margin-abstaende zweischen grid elementen: */
    /* gap: 10px; */
    row-gap:20px;
    column-gap: 10px;
}

.box
{
    background-color: tomato;
    padding: 10px;
    border: 2px solid black;
}

.box-4
{
    background-color: aliceblue;

    /* display: grid; erstellt ein neues grid element. */
    display: grid;
    grid-gap:10px;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 1fr 2fr 100px; 
}