.Circle
{
    width: 200px;
    height: 200px;
    border-radius: 50%;

    .innerCircle
    {
        background: white;
        width: 150px;
        height: 150px;
        border-radius: 50%;
        text-align: center;
        line-height: 200px;
    }
}
