#liste-1 li:first-child
{
    color: tomato;
}

#liste-2 li:last-child
{
    color: tomato;
}

#liste-3 li:nth-child(2)
{
    color: tomato;
}

#liste-4 li:nth-child(even)
{
    color: tomato;
}

#liste-5 li:nth-child(odd)
{
    color: tomato;
}

#liste-6 li:nth-last-child(2)
{
    color: tomato;
}

#liste-7 li:nth-child(n+3)
{
    color: tomato;
}

#liste-8 li:nth-child(-n+3)
{
    color: tomato;
}

#liste-9 li:nth-child(4n+1)
{
    color: tomato;
}

#liste-10 li:nth-child(n+5):nth-child(-n+7)
{
    color: tomato;
}
