#testText
{
    color: tomato;
}

#testText,
#testText-2
{
    background: lime;
}

*
{
    font-style: italic;
}

b
{
    color: purple;
}

.elternElement-1 p
{
    color: lime;
}

.elternElement-2 > p
{
    color: lime;
}

.elternElement-2 .kindElement-1 > p
{
    color: tomato;
}

.elternElement-3 .kindElement-1 p + a
{
    color: lime;
}

.elternElement-4 .kindElement-1 p ~ a
{
    color: lime;
}

.elternElement-5 > .kindElement-1 > .paragraph:not(:nth-child(2))
{
    color: lime;
}

#even-odd-beispiel li:nth-child(even)
{
    background: lime;
}
#even-odd-beispiel li:nth-child(odd)
{
    color: tomato;
}
