body
{
    padding: 10px;
}

input[type=text],
input[type=password]
{
    margin-top: 10px;
    margin-left: 10px;
    /* border: 2px solid blue; */
    /* outline ist eine art border, die keinen platz um das element herum weg nimmt */
    outline: 2px solid blue;
    border: 2px solid red;
}

/* mit der pseudo-klasse :focus können wir definieren, wenn wir ein form-element selektiert (also zb angeklickt) haben. */
input[type=password]:focus
{
    background: lime;
}

/* das pseudoattribut disabled spricht form elemente an, die das attribut "disabled" haben. */
input[type=text]:disabled
{
    background: darkgray;
}
input[disabled]
{
    color: yellow;
}

/* das pseudoattribut read-only spricht form elemente an, de nur lesbar sind, also das attribut "readonly" haben. */
input[type=text]:read-only
{
    background: lime;
}
/* der obere selektor gilt auch für den disbaled state, weil ein disabled element auch read-only (also nur lesbar) ist. */
input[readonly]
{
    color: white;
}

#normalecheckbox
{
    appearance: none;
    width: 50px;
    height: 50px;
    outline: 1px solid black;
    position: relative;
    border-radius: 5px;
}
#normalecheckbox:checked
{
    background: darkgreen;
}
#normalecheckbox:checked::before
{
    content: "✔";
    position: absolute;
    top: calc(50% - 16px);
    left: calc(50% - 14px);
    font-size: 32px;
    color: white;
}

#nocheinecheckbox
{
    accent-color: red;
}

.checkbox
{
    display: block;
    position: relative;
    padding-left: 30px;
    margin-bottom: 15px;
    line-height: 30px;
}
.checkbox input
{
    position: absolute;
    opacity: 0;
    width: 0;
    height: 0;
}
.checkbox .checkmark
{
    position: absolute;
    top: 0;
    left: 0;
    height: 50px;
    width: 50px;
    background: tomato;
    border: 2px solid red;
    border-radius: 50%;
}
.checkbox input:checked ~ .checkmark{
    background: lime;
}