.box
{
    margin-top: 20px;
    display: block;
    height: 300px;
    width: 300px;
    border: 5px solid black;
}

.farbBox
{
    background: tomato;
}

.farbBildBox
{
    background: tomato url(https://picsum.photos/id/1001/300/300);
}

.bildBox
{
    background-image: url(https://picsum.photos/id/1002/300/300);
}

.farbBoxNormal
{
    background-color: tomato;
}

.sizeBox
{
    background-image: url(https://picsum.photos/id/1003/100/100);
    background-size: 200px 300px;
}

.coverBox
{
    background-image: url(https://picsum.photos/id/1005/200/300);
    background-size: cover;
}

.containBox
{
    background-image: url(https://picsum.photos/id/1006/200/200);
    background-size: contain;
}

.repeatBox
{
    background-image: url(https://picsum.photos/id/1008/100/100);
    background-repeat: repeat;
}

.repeatXBox
{
    background: tomato;
    background-image: url(https://picsum.photos/id/1009/150/150);
    background-repeat: repeat-x;
}

.repeatYBox
{
    background: tomato;
    background-image: url(https://picsum.photos/id/1010/150/150);
    background-repeat: repeat-y;
}

.noRepeatBox
{
    background: tomato;
    background-image: url(https://picsum.photos/id/1011/200/250);
    background-repeat: no-repeat;
}

.spaceBox
{
    background: tomato;
    background-image: url(https://picsum.photos/id/1012/130/120);
    background-repeat: space;
}

.roundBox
{
    background: tomato;
    background-image: url(https://picsum.photos/id/1013/80/175);
    background-repeat: round;
}

.positionBox
{
    background-color: tomato;
    background-image: url(https://picsum.photos/id/1014/200/100);
    background-repeat: no-repeat;
    /*                   horizontal vertikal */
    background-position: 10px 75%;
}

.positionCenterBox
{
    background-color: tomato;
    background-image: url(https://picsum.photos/id/1015/200/100);
    background-repeat: no-repeat;
    /* wenn wir nur ein "center" schreiben, zentrieren wir das bild sowohl horizontal wie auch vertikal. */
    background-position: center;
}
    
.positionWordBox
{
    background-color: tomato;
    background-image: url(https://picsum.photos/id/1016/200/100);
    background-repeat: no-repeat;
    background-position: right center;
}

.shortCodeBox
{
    /*          farbe    link                                       wiederholung position   / größe */
    background: tomato url(https://picsum.photos/id/1018/300/100) no-repeat    left center/100px 100px;
    /* mit background-blend-mode: ; können wir unsere photoshop skills in css nutzen - https://developer.mozilla.org/en-US/docs/Web/CSS/background-blend-mode */
    background-blend-mode: soft-light;
}
