* {
  margin: 0;
  padding: 0;
}

:root {
  font-size: 2rem;
}

li {
  list-style: none;
}

.header {
  height: 15rem;
  background-image: url("img/cat3.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

aside img {
  width: 12rem;
}

article {
  width: 75%;
  padding: 2em;
}

article img {
  height: 10rem;
}

.nav-heading {
  visibility: hidden;
}

.visible-title {
  visibility: visible;
}

.fixed-header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
}

.modal__content {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}
