/* Ein oft verwendeter hack in web designs, um die border und paddings innerhalb aller elemente zu schieben. */
*
{
    box-sizing: border-box;
}

*:hover
{
    border: 1px solid red;
}

.box
{
    width: 100px;
    height: 100px;
}

.innen
{
    background: lime;
    height: 100%;
    width: 100%;

    /* text:overflow als ellipsis (ausgepunktet) darstellen. */
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

#box-1
{
    background: tomato;
    padding-left: 25px;
    box-sizing: content-box;
}

#box-2
{
    background: yellow;
    padding-left: 25px;
    box-sizing: border-box;
}

#box-3
{
    background: cyan;
    border: 5px solid orange;
    box-sizing: border-box;
}

#box-4
{
    background: cyan;
    border: 5px solid orange;
    box-sizing: content-box;
}
