table {
  border: 2px black solid;
  border-collapse: collapse;
}
td {
  height: 2.5rem;
  width: 2.5rem;
}
tr:nth-child(2n) :nth-child(2n + 1),
tr:nth-child(2n + 1) :nth-child(2n) {
  background-color: gray;
}
