#image-1
{
    height: 100px;
}

#image-2
{
    height: 100px;
    width: 400px;
}

#schachtel
{
    width: 300px;
    height: 400px;
    background: tomato;
}
#schachtel #schachtel-image
{
    width: 100%;
}

#image-3
{
    width: 200px;
}

#image-4
{
    width: 350px;
}