*{
    box-sizing: border-box;
}

.container
{
    display: grid;
    height:100vh;
    padding: 10px;
    background-color: aqua;

    grid-template-rows: 100px auto 150px;
}

.box
{
    background-color: tomato;
    padding: 10px;
    border: 2px solid black;
}

.content
{
    overflow-y: scroll ;
}

.header
{
    font-size: 32px;
    background-color: darkcyan;
    color: white;

    display: grid;
    grid-template-columns: 200px auto;

    /* padding: 0; */
}

.menu
{
    background-color: red;
}